@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
nav {
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: inline-block;
  height: 100px;
}

ul li {
  display: inline-block;
  font-weight: 400;
  padding: 15px;
}
ul li a {
  text-decoration: none;
  color: black;
  padding: 15px;
  border-bottom: 2px solid transparent;
}
ul li a:hover {
  border-bottom: 2px solid black;
}
.loginbtn a {
  text-decoration: none;
  padding: 5px 25px;
}
.signin{
    color: black;
}
.signin:hover{
    text-shadow: 0 0 8px;
}
.login {
  background-color: rgb(15, 157, 218);
  color: white;
  border: 1px solid rgb(15, 157, 218);
}
.login:hover {
  background-color: transparent;
  border: 1px solid rgb(15, 157, 218);
  color: rgb(15, 157, 218);
}
