/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.hero {
  background-color: #f3fcf7;
  width: 100%;
  height: 30.5rem;
}
nav{
    width: 90%;
    margin: 0px auto;
}


nav img {
  display: none;
}


nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
nav li {
  margin: 1.5rem 2rem;
  padding: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 0.1rem solid transparent;
}
nav h3 {
  float: left;

  padding: 1rem 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  color: #06c167;
}
nav li:hover {
  color: #06c167;
  border-bottom: 0.16rem solid #06c167;
}

*/

.img{
    /* border: 1px solid red; */
}/*
.textmobile {
  display: none;
}
.pucchi {
  width: 21rem;
}
.text{
    text-align: center;
}
.content .text h1 {
       font-size: 3.75rem;
       font-weight: 700;
       margin-top: 5rem;
   }
   .content .text p {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 1rem;
  color: #555555;
}
.content .text a {
  display: inline-block;
  background-color: #06c167;
  color: white;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1.5rem;

}
.content .text a i {
  margin-left: 0.75rem;
}
    .img{
        width: 40%;
    }
    .hero-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

@media(min-width: 1200px){
    .content{
        width: 90%;
        /* border: 1px solid blue; */
        display: flex;
         margin: 0px auto;
    }
    .text{
        width: 50%;
        text-align: left;
        margin-left: 2.5rem;
         /* border: 5px solid blue; */
    }
    /*content*/
   


*/