* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.hero {
  background-color: #f3fcf7;
  height: 75vh;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
nav li {
  margin: 1.5rem 2rem;
  padding: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 0.1rem solid transparent;
}
nav h3 {
  float: left;
  margin-left: 1.5rem;
  padding: 1rem 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  color: #06c167;
}
nav li:hover {
  color: #06c167;
  border-bottom: 0.16rem solid #06c167;
}
.content {
  display: flex;
}
.content .text h1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin-top: 5rem;
  margin-left: 8rem;
}
.content .text p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 1rem 8rem;
  color: #555555;
}
.content .text a {
  display: inline-block;
  background-color: #06c167;
  color: white;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-left: 8rem;
}
.content .text a i {
  margin-left: 0.75rem;
}

.pucchi {
  width: 16rem;
  position: relative;
  left: 12rem;
  top: 2.4rem;
}
.rating1 {
  position: absolute;
  right: 33%;
  top: 45%;
  z-index: 1;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.rating2 {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  right: 8%;
  top: 35%;
  z-index: 1;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.rating1 i {
  color: #05a256;
  margin-left: 0.25rem;
}
.logo1 {
  position: relative;
  left: 5.5rem;
  margin: 1rem 2.5rem;
  width: 10rem;
}
.logo {
  margin-bottom: 8rem;
}
.support {
  width: 75%;
  margin-left: 12.5%;
}
.support .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  border-top: 0.16rem solid #707070;
  border-bottom: 0.16rem solid #707070;
}
.support .cards .card {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin: 2.5rem 3rem;
}
.support .cards .card h1 {
  font-size: 1rem;
  font-weight: 400;
}
.support .cards .card p {
  font-size: 0.75rem;
  font-weight: 400;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f3fcf700;
}
.benefit {
  display: flex;
  margin-top: 4rem;
  margin-left: 8rem;
}
.benefit .benefit-img {
  background-color: #f3fafb;
  padding: 0 5.6rem;
  padding-bottom: 4rem;
  width: 32rem;
}
.benefit .benefit-text {
  margin: 4rem 10rem;
}
.benefit .benefit-text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.benefit .benefit-text p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #555555;
  margin-bottom: 2rem;
  line-height: 1.4rem;
}
.benefit .benefit-text li {
  list-style: none;
  padding: 0.75rem 0;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.benefit .benefit-text li i {
  color: #06c167;
}

.stars {
  margin-top: 8rem;
  display: flex;
}
.star-text a {
  display: inline-block;
  background-color: #06c167;
  color: white;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-left: 8rem;
}
.star-text a i {
  margin-left: 0.75rem;
}
.star-text h1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin-top: 5rem;
  margin-left: 8rem;
}
.star-text h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem 8rem;
  color: #555555;
}
.stars .star-text .tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  width: 40%;
  margin: 2.4rem 8rem;
}
.stars .star-text .tiles .tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tile h4 {
  font-size: 1.6rem;
  font-size: 1.6rem;
  color: #06c167;
}
.tile p {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  color: #555555;
  margin-top: 0.5rem;
}
.star-img1 {
  background-color: #f3fafb;
  width: 28rem;
  padding: 0rem 0rem 6.4rem 6.4rem;
  margin-left: 8rem;
}
.features-text h1 {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  margin-top: 4rem;
}
.features-text p {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  margin: 1.6rem 0;
}
.features .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  margin-left: 10%;
  justify-content: center;
}
.features .boxes .box {
  background-color: #f3fcf7;
  border: 0.08rem solid #06c167;
}
.box-text {
  padding: 2.4rem;
}
.box-text a i {
  margin-left: 0.75rem;
}
.features .boxes .box img {
  width: 100%;
  height: 100%;
}
.box-text h1 {
  margin-bottom: 1.6rem;
}
.box-text p {
  margin-bottom: 1.6rem;
}
.box-text a {
  display: inline-block;
  background-color: #e6f9f0;
  color: #06c167;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.product-text h1 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 8rem;
  margin-left: 8rem;
}
.product-text p {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 1.6rem;
  margin-left: 8rem;
}
.product-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: 5% 10%;
  justify-items: center;
}
.product-card {
  padding: 1.6rem;
  border: 0.08rem solid #06c167;
}
.product-info {
  text-align: center;
}
.product-info i {
  color: #06c167;
  margin-bottom: 0.5rem;
  margin-left: 0.8rem;
}
.product-info h2 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
}
.product-info p s {
  font-size: 1.28rem;
  color: #555555;
  font-weight: 400;
  margin-right: 0.8rem;
}
.product-info a {
  display: inline-block;
  background-color: #ffffff;
  color: #06c167;
  border: 0.08rem solid #06c167;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 1.5rem;
}
.last {
  text-align: center;
  margin-bottom: 4rem;
  margin-left: 10%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/src/12th image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  background-position: center;
  padding: 8rem;
  color: white;
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
}
.last a {
  display: inline-block;
  background-color: #06c167;
  color: white;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.last a i {
  margin-left: 0.75rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width:80%;
  margin: 0 auto;
}

.footer-content h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.col-brand h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #06c167;
  margin-bottom: 0.8rem;
}
.col-brand p {
  font-size: 0.7rem;
  color:black;
  margin-bottom: 1.2rem;
  max-width: 16rem;
}

.social-icons a {
  color: black;
  font-size: 1rem;
  margin-right: 0.8rem;
  transition: color 0.2s;
}

.col-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}
.col-links a {
  font-size: 0.7rem;
  color: #555555;
  text-decoration: none;
  transition: color 0.2s;
}

.col-contact p {
  font-size: 0.7rem;
  color:black;
  margin-bottom: 1.2rem;
  max-width: 16rem;
}
.subscription-form {
  display: flex;
  width: 100%;
  margin-top: 0.8rem;
}
.subscription-form input[type="email"] {
  padding: 0.6rem 0.8rem;
  font-size: 0.7rem;
  background-color: #e6f9f0a0;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 1px solid #e6f9f0a0;
}
.subscription-form button {
  background-color: #06c167;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 0 0.25rem 0.25rem 0;
}
.subscription-form button:hover {
  background-color: #179e43;
}

.copyright {
  text-align: center;
  padding: 1.2rem 0;
}
.copyright p {
  margin-top: 1.6rem;
  font-size: 0.7rem;
}